H1 {
    text-align: center;
}
div {
margin: auto;
width: 25%;
padding: 10px;
}
.Generator {
    width: 300px;
    border: 10px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}
.Password {
    width: 300px;
    border: 10px solid black;
    padding: 5px;
    margin: 50px;
    text-align: justify;
    font-size: 20px;
}
.button {
    width: 50px;
    border: none;
    background-color: red;
    border-radius: 25px;
    display:inline-block;
}
/* p1 {
visibility: hidden;    
} */